@import url('https://fonts.googleapis.com/css?family=Raleway');

html {
    background: #eee;
}
body {
    font: 13px Verdana, Arial, sans-serif;
    color: #333;
    overflow-x: hidden;
}
strong {
    font-weight: bold;
}
em {
    font-style: italic;
}
a, a:hover, a:active, a:visited {
    text-decoration: none !important;
}
.clear {
    clear: both;
    height: 0;
    font-size: 0;
    line-height: 0;
}


/* template */

#header,
#footer {
    position: fixed;
    left: 0;
    width: 100%;
    z-index: 100;
    background: rgba(39, 34, 41, 0.67);
    padding: 10px 0;
    font-family: 'Raleway', sans-serif;
}

#header {
    top: 0;
    min-height: 30px;
}
#header .title {
   /* float: left;*/
    width: 100%;
    padding-left: 10px;
}
#header h1 {
    /*float: left;*/
    font-size: 2em;
    font-weight: bold;
}
#header h1,
#header h1 a,
#header h1 a:hover,
#header h1 a:active,
#header h1 a:visited {
    color: white;
}
#header h2 {
    font-size: 1.4em;
    padding-top: 1em;
}
#header h2,
#header h2 a,
#header h2 a:hover,
#header h2 a:active,
#header h2 a:visited {
    color: black;
}

#footer {
    bottom: 0;
    border-top: 1px #ccc solid;
    min-height: 10px;
}

#search {
    float: right;
    padding-top: 20px;
}
#search label {
    display: none;
}
#search .btn {
    border: none;
    background: transparent;
}
#search input,
#search .btn span {
    font: 10px Verdana, Arial, sans-serif;
    border: 1px solid #dadada;
    background: #fff url(data:image/gif;base64,R0lGODlhAQAFAKIAAPX19e/v7/39/fr6+urq6gAAAAAAAAAAACH5BAAAAAAALAAAAAABAAUAAAMESAEjCQA7) repeat-x left top;
    padding: 2px 6px;
    height: 14px;
    color: #565656;
}

#main {
    padding: 100px 0 80px;
}

#header > .box,
#main > .box,
#footer > .box {
    width: 100%;
    margin: 0 auto;
}

#code {
    clear: both;
    margin-top: 1em;
    height: 2.8em;
    overflow: hidden;
    pointer: hand;
}
#code pre {
    font: 12px monospace;
    white-space: break-words;
}
#code:hover {
    height: auto;
    pointer: normal;
}
#code p {
    display: none;
}

#menu {
    display: none;
}
#menu li {
    padding-top: 20px;
    display: inline-block;
    font-size: .8em;
}

#pane {
    text-align: right;
}
#pane ul {
    list-style: none;
    padding: .5em 1em;
}
#pane ul ul {
    font-size: .8em;
}

body.shadow #header,
body.shadow #footer,
body.shadow .shadow {
    box-shadow: 1px 3px 7px #ccc;
}


/* lists */

.etabs .etab .coords {
    margin-top: .5em;
    font-size: .8em;
    opacity: .8;
}
.etabs .etab .coords .latitude,
.etabs .etab .coords .longitude {
    display: inline-block;
    content: "Â°";
}
.etabs .etab .coords .latitude:before {
    content: "lat. ";
}
.etabs .etab .coords .longitude:before {
    content: "long. ";
}


/* map */

.map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.pane {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    overflow: auto;
    background: rgba(255, 255, 255, .8);
}
.pane .items {
    padding: 80px 10px 60px;
}
.pane .items ul {
    list-style: none;
    padding: 0;
}
.leaflet-popup-content-wrapper.tabs-cluster {
    background: rgba(255, 255, 255, .8);
    -webkit-transition: background 300ms ease-in 0ms;
       -moz-transition: background 300ms ease-in 0ms;
        -ms-transition: background 300ms ease-in 0ms;
         -o-transition: background 300ms ease-in 0ms;
            transition: background 300ms ease-in 0ms;
}
.leaflet-popup-content-wrapper.tabs-cluster:hover {
    background: rgba(255, 255, 255, 1);
    z-index: 1000 !important;
}
.leaflet-popup-content {
    width: 200px !important;
}
.leaflet-popup-content h4 {
    height: 2.4em;
    font-size: 1em;
    text-transform: uppercase;
    margin: 0;
    padding-left: 36px;
}
.osm .leaflet-popup-tip {
    margin: -13px auto 0;
}
.leaflet-popup-content span,
.tabs-cluster span {
    display: block;
}
.leaflet-popup-content strong,
.tabs-cluster strong {
    float: left;
    text-align: right;
    width: 5em;
    margin-right: .5em;
}
.tabs-cluster .ios strong {
    color: #5ac6ff;
}
.tabs-cluster .droid strong {
    color: #9c0;
}
.tabs-cluster .win strong {
    color: #f88;
}
.tabs-cluster .autre strong {
    color: #000;
}
.tabs-cluster .nd strong {
    color: #888;
}
.tabs-cluster span.count {
    float: right;
    width: 24px;
    height: 24px;
    font-size: 12px;
    line-height: 22px;
    background: #ccc;
    color: black;
    font-weight: bold;
    border-radius: 100%;
    margin-left: 10px;
    text-align: center;
}

/* body */

.body ul {
    list-style: square outside;
    padding-left: 2em;
}
.body ol {
    list-style: decimal outside;
    padding-left: 2em;
}
.body p,
.body li {
    margin-bottom: .5em;
}

.body h1,
.body h2,
.body h3,
.body h4,
.body h5,
.body h6 {
    margin: 1em 0 .5em;
}
.body h1 {
    color: #abc;
    font-size: 1.8em;
}
.body h2 {
    font-size: 1.5em;
    padding-bottom: .2em;
    border-bottom: 1px #abc dotted;
}
.body h3 {
    font-size: 1.2em;
}

.body a,
.body a:hover,
.body a:active,
.body a:visited {
    color: #345;
}
.body a:hover,
.body a:active {
    color: black;
}


.body .title h1 {
    margin-bottom: 0;
    border-bottom: 1px #abc solid;
}
.body .title h2 {
    margin-top: 0;
    border-bottom: 0;
}
#display_list{
	background: #dddddd;
	color: black;
	padding: 3px;
}
#display_list:hover{
	color: white;
	background: black;
}
#display_map{
	background: #dddddd;
	color: black;
	padding: 3px;
}
#display_map:hover{
	color: white;
	background: black;
}
#list_etabs {
	margin-top:130px;
}
.myPopup .leaflet-popup-content p {
  margin : 5px;
}

.myPopup h4 {
  padding:0px;
  margin: 0px;
}
.myPopup .uai:before{
    content : "UAI : ";
    width: 20%;
    display: inline-block;
    color: #999999;
}
.myPopup .tel:before{
    content : "Tel : ";
    width: 20%;
    display: inline-block;
    color: #999999;
}
@media screen and (max-width:640px) {
  #header h1 {
    font-size : 1.2em;
  }
}

.logoidf {
  height: 50px;
  float:left;
  margin: 10px;
}
